/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #f5f7fa;
    color: #333;
}

/* main heading */
h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

/* header  */
header p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}


