# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
tempCodeRunnerFile.py

# Logs
*.log

backend/test_*.py
backend/cleanup.py
backend/tempCodeRunnerFile.py