
__pycache__/
*.py[cod]
*$py.class


venv/
.venv/
env/


.env
backend/.env


.vscode/
.idea/

.pytest_cache/
.mypy_cache/

.coverage
.coverage.*
htmlcov/
coverage.xml


.DS_Store
Thumbs.db

tempCodeRunnerFile.py
**/tempCodeRunnerFile.py



*.log
backend/test_*.py
backend/cleanup.py
backend/keys/private_key.pem